<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>学生信息管理系统</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <!--layui import-->
    <link rel="stylesheet" type="text/css" href="/layui/css/layui.css">
    <script src="/layui/layui.js"></script>

    <!--jQuery import-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <style>
        /*remove arrows inside table units*/
        .layui-table-grid-down {
            display: none;
        }
    </style>
</head>
<body class="layui-layout-body">

    <div class="layui-layout layui-layout-admin">

        <div class="layui-header layui-bg-black">
            <div class="layui-logo">学生信息系统</div>
        </div>
    
        <!----------------------------------------------Search Model-------------------------------------------------->

        <br>
    
        <div class="layui-row">
            <form class="layui-form layui-col-md9" id="search_form" action="#" th:action="@{/home}" method="post">
                <div class="layui-form-item">

                    <div class="layui-inline">
                        <label class="layui-form-label">选择性别</label>
                        <div class="layui-input-inline">
                            <select class="layui-input" id="sex" name="sex_search">
                                <option value="male">男</option>
                                <option value="fmale">女</option>
                            </select>
                        </div>
                    </div>
            
                    <div class="layui-inline">
                        <label class="layui-form-label">姓名</label>
                        <div class="layui-input-inline">
                            <input class="layui-input" type="text" id="name" name="name_search" placeholder="请输入姓名"/>
                        </div>
                    </div>
            
                    <div class="layui-inline">
                        <label class="layui-form-label">电话</label>
                        <div class="layui-input-inline">
                            <input class="layui-input" type="tel" id="phone" name="phone_search" placeholder="请输入十位电话号码" />
                        </div>
                    </div>
            
                    <div class="layui-inline">
                        <label class="layui-form-label">生日</label>
                        <div class="layui-input-inline">
                            <input class="layui-input" type="text" id="birth" name="birth_search" placeholder="请选择出生日期" />
                        </div>
                    </div>

                </div>
            </form>

            <div class="layui-btn-group layui-col-md3" style="text-align: right">
                <button type="button" id="search_back_button" class="layui-btn" style="display: none" onclick="location.href='/home';">返回</button>
                <button form="search_form" type="submit" class="layui-btn" name="button" value="Search">查询</button>
                <button form="search_form" type="reset" class="layui-btn">重置</button>
                <div th:if="${search_result == true}">
                    <script>
                        document.getElementById('search_back_button').style.display = "";
                    </script>
                </div>
            </div>

        </div>
    
        <!-------------------------------------------Display & Delete Model------------------------------------------------>
    
        <form id="delete_form" class="layui-form" action="#" th:action="@{/delete}" method="post">
            <table lay-filter="home_table">
                <thead>
                    <tr>
                        <th lay-data="{type:'checkbox'}"></th>
                        <th lay-data="{field:'id', width:100, sort:true, align:'center'}">学号</th>
                        <th lay-data="{field:'name', width:150, align:'center'}">姓名</th>
                        <th lay-data="{field:'sex', width:100, align:'center'}">性别</th>
                        <th lay-data="{field:'class', width:100, sort:true, align:'center'}">班级</th>
                        <th lay-data="{field:'phone', align:'center'}">电话</th>
                        <th lay-data="{field:'birth', align:'center'}">生日</th>
                        <th lay-data="{field:'note', align:'center'}">备注</th>
                        <th lay-data="{width: 100, align:'center', toolbar:'#barEdit'}"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="student, iter: ${oldStudentList}" th:id="'No.' + ${iter.index}">
                        <td></td>
                        <td th:text="${student.id}"></td>
                        <td th:text="${student.name}"></td>
                        <td th:text="${student.sex}"></td>
                        <td th:text="${student.course}"></td>
                        <td th:text="${student.phone_number}"></td>
                        <td th:text="${student.birth}"></td>
                        <td th:text="${student.note}"></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>

            <script type="text/html" id="barEdit">
                <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
            </script>

            <!--get checked_ones from layui function-->
            <div id="input_group"></div>
        </form>
    
        <!----------------------------------------------Create Popup Model---------------------------------------------->
    
        <div style="display: none" id="createForm">
            <blockquote class="layui-elem-quote">新建学生档案</blockquote>
            <form class="layui-form" style="width: 90%" action="#" th:action="@{/home}" th:object="${newStudent}" method="post">

                <div class="layui-form-item">
                    <label class="layui-form-label">姓名</label>
                    <div class="layui-input-block">
                        <input type="text" th:field="*{name}" class="layui-input" placeholder="请输入姓名" />
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">性别</label>
                    <div class="layui-input-block">
                        <input type="text" th:field="*{sex}" class="layui-input" placeholder="请输入性别" />
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">班级</label>
                    <div class="layui-input-block">
                        <input type="text" th:field="*{course}" class="layui-input" placeholder="请输入班号" />
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">电话</label>
                    <div class="layui-input-block">
                        <input type="text" th:field="*{phone_number}" class="layui-input" placeholder="请输入电话号码" />
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">生日</label>
                    <div class="layui-input-block">
                        <input type="text" th:field="*{birth}" class="layui-input" placeholder="请输入出生日期"/>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">备注</label>
                    <div class="layui-input-block">
                        <input type="text" th:field="*{note}" class="layui-input" placeholder="学生备注" />
                    </div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button type="submit" name="button" value="Create" class="layui-btn">创建</button>
                        <button type="reset" value="Reset" class="layui-btn layui-btn-normal">重置</button>
                    </div>
                </div>
            </form>
        </div>
    
        <!-----------------------------------------Modify Popup Model---------------------------------------------->
    
        <div style="display: none" id="modifyForm">
            <blockquote class="layui-elem-quote">在下表更改学生信息</blockquote>
            <form class="layui-form" style="width: 90%" action="#" th:action="@{/home}" method="post">

                <div class="layui-form-item">
                    <label class="layui-form-label">姓名</label>
                    <div class="layui-input-block">
                        <input id="name_modify" type="text" name="name" class="layui-input" />
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">性别</label>
                    <div class="layui-input-block">
                        <input id="sex_modify" type="text" name="sex" class="layui-input" />
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">班级</label>
                    <div class="layui-input-block">
                        <input id="course_modify" type="text" name="course" class="layui-input" />
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">电话</label>
                    <div class="layui-input-block">
                        <input id="phone_number_modify" type="text" name="phone_number" class="layui-input" />
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">生日</label>
                    <div class="layui-input-block">
                        <input id="birth_modify" type="text" name="birth" class="layui-input" />
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">备注</label>
                    <div class="layui-input-block">
                        <input id="note_modify" type="text" name="note" class="layui-input" />
                    </div>
                </div>

                <input type="hidden" id="id_modify" name="id" />

                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button type="submit" name="button" value="Modify" class="layui-btn">保存</button>
                    </div>
                </div>
            </form>
        </div>
    
        <!-----------------------------------------script loading area---------------------------------------------->
    
        <script>
            //global variables for checkbox, using for marking deleted students data
            var checked_students = [];

            layui.use(['form', 'laydate', 'table', 'layer'], function() {
                var form = layui.form,
                laydate = layui.laydate,
                table = layui.table,
                layer = layui.layer;

                //use laydate inside search_form
                laydate.render({
                    elem: '#birth'
                });

                //transform static home_table to layui
                table.init('home_table', {
                    id: 'home_table_id',
                    height: 460,
                    width: 1200,
                    page: true
                });

                //monitor table checkbox
                table.on('checkbox(home_table)', function(obj) {
                    console.log(obj);
                    var checkStatus = table.checkStatus('home_table_id');
                    checked_students = checkStatus.data;  //array of the checked student objects
                });

                //popup create form
                document.getElementById("create_button").addEventListener('click', function() {
                    layer.open({
                        type: 1,
                        title: "新增学生",
                        skin: 'layui-layer-rim',
                        area: ['600px', '500px'],
                        content: $('#createForm')
                    });
                });

                //jump to delete confirm page
                document.getElementById("delete_button").addEventListener('click', function() {
                    if(checked_students.length === 0) {
                        layer.msg('未选择删除数据');
                    }
                    else {
                        //sending checked ids to server by automatic generating input tags
                        for(var i = 0; i < checked_students.length; ++i) {
                            var input = document.createElement("input");
                            input.type = "number";
                            input.name = "checked_ones";
                            input.value = checked_students[i].id;
                            input.style.display = "none";
                            document.getElementById("input_group").appendChild(input);
                        }
                        document.getElementById("delete_form").submit();
                    }
                });

                //monitor toolbar (edit)
                table.on('tool(home_table)', function(obj) {
                    var data = obj.data;
                    if(obj.event === 'edit') {
                        document.getElementById("id_modify").value = data.id;
                        document.getElementById("name_modify").value = data.name;
                        document.getElementById("sex_modify").value = data.sex;
                        document.getElementById("course_modify").value = data.class;
                        document.getElementById("phone_number_modify").value = data.phone;
                        document.getElementById("birth_modify").value = data.birth;
                        document.getElementById("note_modify").value = data.note;
                        layer.open({
                        type: 1,
                        title: "修改学生信息",
                        skin: 'layui-layer-rim',
                        area: ['600px', '500px'],
                        content: $('#modifyForm')
                    });
                    }
                });

            });

        </script>

        <button class="layui-btn" id="create_button" type="button">新增</button>
        <button class="layui-btn" id="delete_button" type="button">删除</button>

    </div>

</body>
</html>