<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>MySQL Database</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
        table, th, td {
          border: 1px solid black;
          border-collapse: collapse;
        }
        .mybutton {
            background-color: #c9cec7;
            border: none;
            color: rgb(15, 15, 15);
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
             font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <h1>Selected students you want to modify are:</h1>
    <form action="#" th:action="@{/modify/result}" method="post">
        <table>
            <tr>
                <th>id</th>
                <th>name</th>
                <th>sex</th>
                <th>class</th>
                <th>phone_number</th>
                <th>birth</th>
                <th>note</th>
            </tr>
            <tr th:each="student: ${selected_ones}">
                <td th:text="${student.id}"></td>
                <td><input type="text" name="name" th:value="${student.name}" size="10" /></td>
                <td><input type="text" name="sex" th:value="${student.sex}" size="2" /></td>
                <td><input type="text" name="course" th:value="${student.course}" size="5" /></td>
                <td><input type="text" name="phone_number" th:value="${student.phone_number}" size="20" /></td>
                <td><input type="text" name="birth" th:value="${student.birth}" size="10" /></td>
                <td><input type="text" name="note" th:value="${student.note}" size="10" /></td>
                <input type="hidden" name="id" th:value="${student.id}"/>
            </tr>
        </table>
        <input type="submit" value="Save" class="mybutton" />
    </form>
</body>
</html>